<h1>Editing Campaign</h1>

<%= render 'form' %>

<%= link_to 'Campaign Details', @camptestum, class: "waves-effect waves-light btn" %>
<%= link_to 'Campaign List', camptesta_path, class: "waves-effect waves-light btn" %>
