<p>
  <strong>Camp:</strong>
  <%= @camprighe.camp_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @camprighe.contact_id %>
</p>

<%= link_to 'Edit', edit_camprighe_path(@camprighe) %> |
<%= link_to 'Back', camprighes_path %>
