<footer class="page-footer fixed">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Passmakers 2017</h5>
                <p class="grey-text text-lighten-4">Vediamo se mi riesce</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <%= link_to "© 2017 Copyright Passmakers", root_path, class: "grey-text text-lighten-4 left" %>
            <%= link_to "About", about_path, class: "grey-text text-lighten-4 right" %>
            </div>
          </div>
        </footer>